html, body{
    background-color: var(--colors-green);
    font-size: 80px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.content .footer {
  display: flex;
  width: 925px;
  align-items: center;
  justify-content: center;
  gap: 100px;
  position: relative;
  flex: 0 0 auto;
  background-color: transparent;
}
.content .controls {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}
.social-media{
    display: flex;
    justify-content: space-between;
}

.social-media a{
    margin-right: 40px;
}

.main-page-TTS.working-area .big-textbox {
  width: 925px;
  height: 337.5px;
  padding: 62.5px; 
  gap: 62.5px;
  border-radius: 50px;
  backface-visibility: var(--white,#FFF);
}

.content .image {
  width: 50x;
  height: 50px;
  position: relative;
  object-fit: cover;
}

.content .img {
  width: 50px;
  height: 50px;
  position: relative;
  object-fit: cover;
}

.content .frame {
  position: relative;
  flex: 0 0 auto;
}

.content .line {
  display: flex;
  width: 925px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
}

.content.line-2 {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 3.12px;
  margin-top: -3.12px;
}

.content .buttons {
  display: flex;
  width: 925px;
  align-items: center;
  justify-content: center;
  gap: 75px;
  position: relative;
  flex: 0 0 auto;
}

.content .button {
  width: 231.25px;
  background-color: var(--colors-white);
  border-color: var(--colors-brown);
  position: relative;
  height: 37.5px;
  margin-top: -3.12px;
  margin-bottom: -3.12px;
  border-radius: 18.75px;
  overflow: hidden;
  border: 3.12px solid;
}

.element-b .text-wrapper {
  left: 19px;
  color: var(--colors-brown);
  position: absolute;
  top: 6px;
  font-family: "Inter", Helvetica;
  font-weight: 900;
  font-size: 18.8px;
  text-align: center;
  letter-spacing: 1.88px;
  line-height: 18.8px;
  white-space: nowrap;
}

.element-b .STT-wrapper {
  width: 231.25px;
  border-color: var(--colors-brown);
  position: relative;
  height: 37.5px;
  margin-top: -3.12px;
  margin-bottom: -3.12px;
  border-radius: 18.75px;
  overflow: hidden;
  border: 3.12px solid;
}

.element-b .about-wrapper {
  width: 193.75px;
  border-color: var(--colors-brown);
  position: relative;
  height: 37.5px;
  margin-top: -3.12px;
  margin-bottom: -3.12px;
  border-radius: 18.75px;
  overflow: hidden;
  border: 3.12px solid;
}

.element-b .about {
  position: absolute;
  top: 6px;
  left: 56px;
  font-family: "Inter", Helvetica;
  font-weight: 900;
  color: var(--colors-brown);
  font-size: 18.8px;
  text-align: center;
  letter-spacing: 1.88px;
  line-height: 18.8px;
  white-space: nowrap;
}

.element-b .line-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
}

.element-b .line-3 {
  position: relative;
  width: 718.75px;
  height: 3.12px;
  margin-top: -3.12px;
}

.element-b .flexcontainer {
  display: flex;
  flex-direction: column;
  width: 760.62px;
  height: 256.25px;
  align-items: flex-start;
  gap: 6.25px;
}

.element-b .text {
  position: relative;
  align-self: stretch;
  filter: blur(1.88px);
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: var(--colors-brown);
  font-size: 25px;
  letter-spacing: -0.5px;
  line-height: 27.5px;
}

.element-b .span {
  color: #281e11;
}

.element-b .text-wrapper-2 {
  color: #5b7950;
}

.element-b .button-wrapper {
  display: flex;
  width: 925px;
  align-items: center;
  justify-content: center;
  gap: 75px;
  position: relative;
  flex: 0 0 auto;
}

.element-b .TTS-wrapper {
  width: 306.25px;
  border-color: var(--colors-gray);
  position: relative;
  height: 37.5px;
  margin-top: -3.12px;
  margin-bottom: -3.12px;
  border-radius: 18.75px;
  overflow: hidden;
  border: 3.12px solid;
}

.element-b .TTS {
  left: 32px;
  color: var(--colors-gray);
  position: absolute;
  top: 6px;
  font-family: "Inter", Helvetica;
  font-weight: 900;
  font-size: 18.8px;
  text-align: center;
  letter-spacing: 1.88px;
  line-height: 18.8px;
  white-space: nowrap;
}
.image-button {
    margin-right: 1px; 
    margin-left: 1px;
}
.image-button:last-child {
    margin-right: 0;
}
/* Initially grayscale the images */
.image-button img {
    filter: grayscale(100%);
    transition: filter 0.3s; /* Smooth transition effect */
}

/* Remove grayscale on hover */
.image-button:hover img {
    filter: none;
}

.big-textbox::placeholder {
    font-size: 30px; 
}
.big-textbox {
    height: 200px;
    font-size: 30px;
}
#link-tts {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 7.08px;
    padding: 10px 20px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid #000000; 
    /*background-color: white;*/
    background-color: var(--colors-green);
    color: #000000; /* Set text color to black */
    font-family: "Inter", Helvetica;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    letter-spacing: 1.4px;
    line-height: 14px;
    cursor: pointer;
}
/* Hover effects for the button */
#link-tts:hover {
  background-color: #ffffff;
  color: #000000;
}
#link-speech-to-text{
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 7.08px;
    padding: 10px 20px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid #000000; /* Set border color to black */
    /*background-color: #000000;*/ /* Set background color to black */
    background-color: var(--colors-green);
    color: #000000; /* Set text color to black */
    font-family: "Inter", Helvetica;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    letter-spacing: 1.4px;
    line-height: 14px;
    cursor: pointer;
}
#link-speech-to-text:hover {
  background-color: #ffffff;
  color: #000000;
}
#link-about{
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 7.08px;
    padding: 10px 20px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid #000000; /* Set border color to black */
    /*background-color: #000000;*/ /* Set background color to black */
    background-color: var(--colors-green);
    color: #000000; /* Set text color to black */
    font-family: "Inter", Helvetica;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    letter-spacing: 1.4px;
    line-height: 14px;
    cursor: pointer;
}

/* You can add hover effects for the button */
#link-about:hover {
  background-color: #ffffff;
  color: #000000;
}
#speak-button{
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 7.08px;
    padding: 10px 20px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid #000000; /* Set border color to black */
    /*background-color: #000000;*/ /* Set background color to black */
    background-color: var(--colors-green);
    color: #000000; /* Set text color to black */
    font-family: "Inter", Helvetica;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    letter-spacing: 1.4px;
    line-height: 14px;
    cursor: pointer;
}

#speak-button:hover {
  background-color: #ffffff;
  color: #000000;
}
#con {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15vh;
      margin: 0;
}

#audio-player {
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.bwLink{
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.bwLink img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.bwLink:hover img {
    transform: scale(0.8); 
}
/*.bwLink:hover{
    background-color: white;
}*/
.ttLink{
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.ttLink img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.ttLink:hover img {
    transform: scale(0.8); 
}
.image-button{
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.image-button img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.image-button:hover img {
    transform: scale(0.8); 
}
