.initial-style{
    filter: grayscale(0%);
}
.clicked-style{
    filter: grayscale(100%);
}
html, body{
    background-color: var(--colors-green);
    margin-bottom: 50px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}
.contentFoot{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.content .footer {
  display: flex;
  width: 925px;
  align-items: center;
  justify-content: center;
  gap: 100px;
  position: relative;
  flex: 0 0 auto;
  background-color: transparent;
}
.content .controls {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}
.social-media{
    display: flex;
    justify-content: space-between;
}
.social-media a{
    margin-right: 40px;
}
.main-page-TTS.working-area .big-textbox {
  display: flex; 
  width: 925px;
  height: 260px;
  padding: 62.5px; 
  align-items: flex-start;
  gap: 62.5px;
  border-radius: 50px;
  backface-visibility: var(--white,#FFF);
}
.content .image {
  width: 38px;
  height: 38px;
  position: relative;
  object-fit: cover;
}
.content .img {
  width: 35px;
  height: 32px;
  position: relative;
  object-fit: cover;
}
.content .frame {
  position: relative;
  flex: 0 0 auto;
}
.content .line {
  display: flex;
  width: 925px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
}
.content.line-2 {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 3.12px;
  margin-top: -3.12px;
}
.content .buttons {
  display: flex;
  width: 925px;
  align-items: center;
  justify-content: center;
  gap: 75px;
  position: relative;
  flex: 0 0 auto;
}
.content .button {
  width: 231.25px;
  background-color: var(--colors-white);
  border-color: var(--colors-brown);
  position: relative;
  height: 37.5px;
  margin-top: -3.12px;
  margin-bottom: -3.12px;
  border-radius: 18.75px;
  overflow: hidden;
  border: 3.12px solid;
}
.image-button {
    margin-right: 1px; 
    margin-left: 1px;
}
.image-button:last-child {
    margin-right: 0;
}
.image-button img {
    filter: grayscale(100%);
    transition: filter 0.3s;
}
.image-button:hover img {
    filter: nongape;
}
.big-textbox::placeholder {
    font-size: 20px; 
}
.big-textbox {
    height: 200px;
    font-size: 20px;
}
#link-tts {
    width: 225px;
    height: 31.25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7.08px;
    padding: 10px 20px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 18.8px;
    overflow: hidden;
    border: 3px solid #000000; 
    /*background-color: white;*/
    background-color: var(--colors-green);
    color: #000000; /* Set text color to black */
    font-family: "Inter", Helvetica;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.4px;
    line-height: 14px;
    cursor: pointer;
}
#link-tts:hover {
  background-color: #ffffff;
  color: #000000;
}
#link-speech-to-text{
    width: 225px;
    height: 31.25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7.08px;
    padding: 10px 20px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 18.8px;
    overflow: hidden;
    border: 3px solid #000000; /* Set border color to black */
    /*background-color: #000000;*/ /* Set background color to black */
    background-color: var(--colors-green);
    color: #000000; /* Set text color to black */
    font-family: "Inter", Helvetica;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.4px;
    line-height: 14px;
    cursor: pointer;
}
#link-speech-to-text:hover {
  background-color: #ffffff;
  color: #000000;
}
#link-about{
    width: 225px;
    height: 31.25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7.08px;
    padding: 10px 20px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 18.8px;
    overflow: hidden;
    border: 3px solid #000000; /* Set border color to black */
    /*background-color: #000000;*/ /* Set background color to black */
    background-color: var(--colors-green);
    color: #000000; /* Set text color to black */
    font-family: "Inter", Helvetica;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.4px;
    line-height: 14px;
    cursor: pointer;
}
#link-about:hover {
  background-color: #ffffff;
  color: #000000;
}
#speak-button{
    width: 300px;
    height: 31.25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7.08px;
    padding: 8.427px 32.461px 8.814px 33.158px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 18.8px;
    overflow: hidden;
    border: 3px solid #9F9F9F; /* Set border color to black */
    /*background-color: #000000;*/ /* Set background color to black */
    background-color: var(--colors-green);
    color: #9F9F9F; /* Set text color to black */
    font-family: "Inter", Helvetica;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.4px;
    line-height: 14px;
    cursor: pointer;
}
#speak-button:hover {
  background-color: #ffffff;
  color: #000000;
}
#con {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15vh;
      margin: 0;
}
#audio-player {
    width: 569px;
    height: 63px;
    padding: 7px 18.41px 5.974px 20px;
    display: none; /*Default invisible*/
    background-color: var(--colors-green);
    color: black;
    border-radius: 37px;
    border: 3px solid var(--black, #000);
    opacity: 1;
}
#audio-player::-webkit-media-controls-panel {
    background-color: var(--colors-green);
    border-radius: 18.8px;
}
#audio-player::-webkit-media-controls-play-button {
    color: black;
    opacity: 1;
}
#audio-player::-webkit-media-controls-mute-button,
#audio-player::-webkit-media-controls-volume-slider-container {
    color: black; 
    opacity: 1;  
}
#audio-player::-webkit-media-controls-mute-button {
    background-color: transparent;
}
#audio-player::-webkit-media-controls-volume-slider {
    background-color: #333; 
}
.bwLink{
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.bwLink img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.bwLink:hover img {
    transform: scale(0.8); 
}
.ttLink{
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.ttLink img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.ttLink:hover img {
    transform: scale(0.8); 
}
.image-button{
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.image-button img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.image-button:hover img {
    transform: scale(0.8); 
}
/*.downloadButtons{
    display: none;
    width: 925.48px;
    align-items: center;
    justify-content: center;
    gap: 18.76px;
    position: relative; 
    flex: 0 0 auto;
}
#downloadWavButton, #downloadMp3Button{
    display: none;  
    width: 225px;
    height: 31.25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 7.08px;
    padding: 10px 20px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 18.8px;
    overflow: hidden;
    border: 3px solid #000000; 
    background-color: var(--colors-green);
    color: #000000; 
    font-family: "Inter", Helvetica;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.4px;
    line-height: 14px;
    cursor: pointer;
}*/
/*FOOTER*/
.div-1 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.div-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-bottom: 50px;
}
.text-2 {
  width: 200px;
  height: 20px;
  position: relative;
  border-radius: 18.75px;
  overflow: hidden;
}
.TTS-2 {
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  font-size: 18.8px;
  letter-spacing: 1.88px;
  line-height: 18.8px;
  white-space: nowrap;
  position: absolute;
  width: 190px;
  top: 0;
  left: 5px;
  color: var(--colors-brown);
  text-align: center;
}
.TTS-3 {
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
  line-height: 12px;
  position: absolute;
  width: 190px;
  top: 0;
  left: 5px;
  color: var(--colors-brown);
  text-align: center;
}